body{
    background-color: #81CCBD;
    font-family: Serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

button{
    background-color: #1A6355;
    border-color: #053D33;
    border-radius: 40%;

}

#fortune{
    color: black;
    opacity: 0;
    transition: opacity 0.8s ease;
}
#fortune.visible{
    opacity: 1;
}



@keyframes shake{
    0%, 100% {transform: rotate(0deg);} /*still*/
    25% {transform: rotate(-12deg);} /*left*/
    75% {transform: rotate(12deg);} /*right*/
}
.shaking{
    animation: shake 0.4 ease;
}